<div class="task-card">
	<div class="row">
		<div class="col-sm-12 title">
			<h3>
				{{task.title}}
			</h3>
		</div>
	</div>
	<div class="row priority">
		<span>Prioridade:</span> {{task.priority}}
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>{{task.description}}</p>
		</div>
	</div>
	<div class="row action-made">
		<div class="col-sm-12">
			Criado por: {{task.owner}}
		</div>
	</div>
	<div class="row action-made" *ngIf="task.developed_by">
		<div class="col-sm-12">
			Desenvolvido por: {{task.developed_by}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<button type="button" class="btn btn-danger btn-sm" (click)="deleteTask(task)">
				Deletar
			</button>
		</div>
		<div class="col-sm-4">
			<button [routerLink]="['/task-form',task._id]" class="btn btn-info btn-sm">
				Editar
			</button>
		</div>
		<div class="col-sm-4">
			<button type="button" class="btn btn-success btn-sm" (click)="changeStatus(task)">
				{{(task.status=='todo')?'Done':'To do'}}
			</button>
		</div>
	</div>
</div>