app-board{
    width:100%;
}
.task-board{
    h2{
        text-align: center;
        font-size: 18px;
    }

    .task-list{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
    